 body {font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    background-color: #00e5ff;} 
    h1{font-size:14px;
        font-variant:small-caps;
        color:#FF0000
        background-color:#00FF00;}  
    p:first-letter{font-size:200%; }
    .income {background-color: #cccccc;}
    .expenses {background-color: #ff0099 ;}  
    .profit{background-color: #FFFF00;}
    #budgetsummary {background-color:#FFFFFF;
    border: dotted;} 
    .logo{
     position: fixed ;
     height: auto ;
     left: 0px;
     width: 250px ;

    } 